<img src="assets/img/logo.png" alt="Logo" class="header__logo">
<h3 class="heading-3">Your own solution:</h3>
<h1 class="heading-1">The Ultimate Personal Freedom</h1>
<button class="btn header__btn">View Our Documents</button>

<div class="header__seenon-text">Seen On</div>
<div class="header__seenon-logos">
  <img src="assets/img/logo-bbc.png" alt="seen on logo 1">
  <img src="assets/img/logo-forbes.png" alt="seen on logo 2">
  <img src="assets/img/logo-techcrunch.png" alt="seen on logo 3">
  <img src="assets/img/logo-bi.png" alt="seen on logo 4">
</div>