<ul class="nav">
  <li class="nav__item"><a href="#" class="nav__link">Find your dream home</a></li>
  <li class="nav__item"><a href="#" class="nav__link">Request Proposal</a></li>
  <li class="nav__item"><a href="#" class="nav__link">Download Home Planner</a></li>
  <li class="nav__item"><a href="#" class="nav__link">Doesn't really matter</a></li>
  <li class="nav__item"><a href="#" class="nav__link">Contact Us</a></li>
  <li class="nav__item"><a href="#" class="nav__link">Frequently Asked</a></li>
</ul>
<p class="copyright">
  &copy; Copyright 2017 by Jonas Schemdtmann. Feeeel freeeeee to mistype absolutely everything you stupid mongoloid.
</p>