  <div class="home">
    <img src="assets/img/house-1.jpeg" alt="casa 1" class="home__img">
    <svg class="home__like">
      <use xlink:href="assets/img/sprite.svg#icon-heart-full"></use>
    </svg>
    <h5 class="home__name">
      Beautiful Mongoloid Home
    </h5>
    <div class="home__location">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-map-pin"></use>
      </svg>
      <p>USA</p>
    </div>
    <div class="home__rooms">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-profile-male"></use>
      </svg>
      <p>5 Rooms</p>
    </div>
    <div class="home__area">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-expand"></use>
      </svg>
      <p>325 m<sup>2</sup></p>
    </div>
    <div class="home__price">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-key"></use>
      </svg>
      <p>$1,200,000</p>
    </div>
    <button class="cta">
      Contact Expert
    </button>
  </div>

  <div class="home">
    <img src="assets/img/house-2.jpeg" alt="casa 1" class="home__img">
    <svg class="home__like">
      <use xlink:href="assets/img/sprite.svg#icon-heart-full"></use>
    </svg>
    <h5 class="home__name">
      Modern Glass Villa
    </h5>
    <div class="home__location">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-map-pin"></use>
      </svg>
      <p>Canada</p>
    </div>
    <div class="home__rooms">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-profile-male"></use>
      </svg>
      <p>6 Rooms</p>
    </div>
    <div class="home__area">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-expand"></use>
      </svg>
      <p>450 m
        <sup>2</sup>
      </p>
    </div>
    <div class="home__price">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-key"></use>
      </svg>
      <p>$2,750,000</p>
    </div>
    <button class="cta">
      Contact Expert
    </button>
  </div>

  <div class="home">
    <img src="assets/img/house-3.jpeg" alt="casa 1" class="home__img">
    <svg class="home__like">
      <use xlink:href="assets/img/sprite.svg#icon-heart-full"></use>
    </svg>
    <h5 class="home__name">
      Cozy Country House
    </h5>
    <div class="home__location">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-map-pin"></use>
      </svg>
      <p>UK</p>
    </div>
    <div class="home__rooms">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-profile-male"></use>
      </svg>
      <p>4 Rooms</p>
    </div>
    <div class="home__area">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-expand"></use>
      </svg>
      <p>150 m
        <sup>2</sup>
      </p>
    </div>
    <div class="home__price">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-key"></use>
      </svg>
      <p>$850,000</p>
    </div>
    <button class="cta">
      Contact Expert
    </button>
  </div>

  <div class="home">
    <img src="assets/img/house-4.jpeg" alt="casa 1" class="home__img">
    <svg class="home__like">
      <use xlink:href="assets/img/sprite.svg#icon-heart-full"></use>
    </svg>
    <h5 class="home__name">
      Large Rustical Villa
    </h5>
    <div class="home__location">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-map-pin"></use>
      </svg>
      <p>Portugal</p>
    </div>
    <div class="home__rooms">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-profile-male"></use>
      </svg>
      <p>6 Rooms</p>
    </div>
    <div class="home__area">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-expand"></use>
      </svg>
      <p>480 m
        <sup>2</sup>
      </p>
    </div>
    <div class="home__price">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-key"></use>
      </svg>
      <p>$1,950,000</p>
    </div>
    <button class="cta">
      Contact Expert
    </button>
  </div>

  <div class="home">
    <img src="assets/img/house-5.jpeg" alt="casa 1" class="home__img">
    <svg class="home__like">
      <use xlink:href="assets/img/sprite.svg#icon-heart-full"></use>
    </svg>
    <h5 class="home__name">
      Majestic Palace House
    </h5>
    <div class="home__location">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-map-pin"></use>
      </svg>
      <p>Germany</p>
    </div>
    <div class="home__rooms">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-profile-male"></use>
      </svg>
      <p>18 Rooms</p>
    </div>
    <div class="home__area">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-expand"></use>
      </svg>
      <p>4230 m
        <sup>2</sup>
      </p>
    </div>
    <div class="home__price">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-key"></use>
      </svg>
      <p>$9,200,000</p>
    </div>
    <button class="cta">
      Contact Expert
    </button>
  </div>

  <div class="home">
    <img src="assets/img/house-6.jpeg" alt="casa 1" class="home__img">
    <svg class="home__like">
      <use xlink:href="assets/img/sprite.svg#icon-heart-full"></use>
    </svg>
    <h5 class="home__name">
      Modern Family Apartment
    </h5>
    <div class="home__location">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-map-pin"></use>
      </svg>
      <p>Italy</p>
    </div>
    <div class="home__rooms">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-profile-male"></use>
      </svg>
      <p>3 Rooms</p>
    </div>
    <div class="home__area">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-expand"></use>
      </svg>
      <p>180 m
        <sup>2</sup>
      </p>
    </div>
    <div class="home__price">
      <svg>
        <use xlink:href="assets/img/sprite.svg#icon-key"></use>
      </svg>
      <p>$600,000</p>
    </div>
    <button class="cta">
      Contact Expert
    </button>
  </div>